<div class="rounded border border-gray-100 bg-gray-50 p-4">
  <div class="flex flex-row mb-2">
    <div class="flex font-semibold text-gray-800">
      <%= goal.title %>
    </div>
    <div class="ml-auto flex items-center hidden">
      <h4>Streak:</h4>
      <div class="font-semibold ml-1 text-gray-800"><%= calculate_streak(@streaks[goal.id]) %></div>
    </div>
  </div>
  <div class="flex flex-row -mx-1">
    <% if @streaks[goal.id] %>
      <% @streaks[goal.id].each do |occ| %>
        <div class="inline-flex h-4 w-4 rounded-full <%= occ.done? ? color_bg_class(goal.color) : 'bg-gray-200' %> mx-1">
        </div>
      <% end %>
    <% else %>
      <p class="text-sm text-gray-400">Streaks will appear here as soon as you've completed a habit assigned to this goal.</p>
    <% end %>
  </div>
</div>