<div class="bg-white flex flex-col flex-grow justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <a href="<%= root_url %>">
      <%= image_tag "yaht-logomark.svg", class: "mx-auto h-12 w-auto", alt: "yaht - yet another habit tracker" %>
    </a>
    <h1 class="mt-6 text-center">
      <%= title %>
    </h1>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 border border-gray-100">
      <%= yield %>
    </div>
  </div>
</div>