<h1>Editing Self-Report Config</h1>

<%= render 'form', experience_sample_config: @experience_sample_config %>

<%= link_to 'Show', @experience_sample_config %> |
<%= link_to 'Back', experience_sample_configs_path %>
