<%= render 'shared/navigation' %>
<div class="max-w-3xl w-full mx-auto px-4 my-4 md:my-8 flex-col md:flex-row relative md:mb-32 mb-16 sm:px-6 lg:px-8 prose">
  <h1 class="">Study Participation Terms</h1>
  <h2 class="">1. People</h2>
  <p>This study is conducted as part of an ongoing Master Project at the Department of Informatics at the University of Zurich. It is conducted by: </p>
  <div class="grid grid-cols-2 gap-4">
    <div class="">
      <h4 class="mb-2">Principal Investigators</h4>
      <ul>
        <li>Sebastian Richner (sebastian@yaht.app)</li>
        <li>Michael Ziörjen (michael@yaht.app)</li>
      </ul>
    </div>
    <div class="">
      <h4 class="mb-2">Supervision</h4>
      <ul>
        <li>Anastasia Ruvimova (ruvimova@ifi.uzh.ch)</li>
        <li>Alexander Lill (lill@ifi.uzh.ch)</li>
        <li>Prof. Dr. Thomas Fritz (fritz@ifi.uzh.ch)</li>
      </ul>
    </div>
  </div>
  <div class="">
    <h2 class="">2. Purpose</h2>
    <p>The goal of this study is to evaluate the use of yaht and its effect on productivity and other work-related metrics. yaht is based on existing work by <a href="https://ieeexplore.ieee.org/document/8823032/" title="Enabling Good Work Habits in Software Developers through Reflective Goal-Setting" target="_blank">Meyer et. al. (2020)</a> and aims to help its users to conduct self-experiments to form productive work habits.</p>
    <p>The study aims to answer the following research questions:</p>
    <ul>
      <li>RQ1: Which templates for goals and habits do the users of yaht pick and which do they create by themselves?</li>
      <li>RQ2: How do the participants use self-experimentation to personalize / tweak the goals and habits to their needs?</li>
      <li>RQ3: Which lessons can be learned from how the users make use of the software supported self-experimentation framework?</li>
    </ul>
  </div>

  <h2 class="">3. Procedure</h2>
  <div class="space-y-4">
    <p>The study spans across <strong>three weeks</strong> and consists of the following steps.</p>
    <div class="">
      <h3 class="">I. Preliminary Survey (5-10 min)</h3>
      <p>As a first step you will be asked to fill in a preliminary survey on demographics and work experience.</p>
    </div>
    <div class="">
      <h3 class="">II. Registration and Installation of yaht (10 - 15 min)</h3>
      <p>Afterwards, we will ask you to create a new user account on yaht.app. You will need to pick an username and a password and complete a short onboarding process. At the end of it you'll be asked to download and install the yaht client. The client is used solely for the purpose of sending you desktop notifications and asking you about your productivity. It does not collect any other data or input.</p>
      <p><strong>Attention:</strong> The yaht Desktop client is currently only available for MacOS. If you're on Windows you can still sign up but you will not be able to install the client or participate in the study.</p>
    </div>
    <div class="">
      <h3 class="">III. Study (3 weeks, 5-10 mins daily)</h3>
      <p>During a time period of three weeks you will use the yaht application to define goals and habits. Furthermore, you will use "self-reports" and "reflections" to report on your own progress.</p>
      <p>After each week you will receive an e-mail with an overview of your progress and you'll be able to tweak the schedule of the habits, and add or remove habits.</p>
    </div>
    <div class="">
      <h3 class="font-bold">IV. Final Interview (30 - 45 mins)</h3>
      <p>To wrap up the study, we want to examine your learnings, experience and suggestions to improve yaht in the future. You can choose to either receive an online questionnaire or to be interviewed. The interview will take no longer than 30-45 minutes and will be conducted online using a video conferencing tool of your choice (e.g. Skype, Zoom, Google Hangout, etc.)</p>
    </div>
  </div>
  <h2 class="">4. Benefits & Risks</h2>
  <p>By participating in this study, you will learn more about your work habits and behavior at work and how you can deal with unproductive times/habits. Additionally, you can continue to use yaht with all its current and future functionality even after the three week study completely free of charge.</p>
  <p>The main risk is the loss of time required to participate in the study. We estimate the total amount of time required to participate in the study to be 2-4 hours during the 3 weeks. We are mitigating this risk by allowing you to determine a suitable time for the study participation as well as the final interview. Furthermore, you are free to withdraw from participation at any point during the study, without the need to provide a reason.</p>
  <h2 class="">5. Personal Information</h2>
  <p>
    During the study, we will collect personal information about you such as your name, email, gender, age, current job title and employer. For our research, we will only use your anonymized data and no identifying information will ever be shared outside of the research group and the confines of this study without your explicit permission. All data collected will be saved in password-protected storages. The identifiable data will only be stored for 1 year before either being de-identified or deleted.
  </p>
  <h2 class="">6. Data, Storage & Confidentiality</h2>
  <p>All the data collected by the yaht client and webapp are stored in a password-protected database located in Europe. Both the webapp and the client use SSL/TLS encryption to protect the confidentiality of the data during transmission.</p>
  <p>The survey data (preliminary survey and final questionnaire) will be stored in the online survey tool. The final interview audio recording will be transcribed by one of the researchers. After the transcriptions, the audio recording will be deleted. </p>
  <p>All data will be saved on the researchers’ password-protected devices. You will be identified by pseudonyms in any internal or academic research publication or presentation. Your data will be used and seen only by researchers directly involved with this project. The anonymized, non-identifiable data will be stored for five years, after which it will be permanently deleted.</p>
  <h2 class="">7. Uses of the Study Data</h2>
  <p>The results of this study will potentially appear in both internal and external academic research presentations and publications, such as academic journals and conference proceedings.</p>
  <p>If you have any questions or desire further information with respect to the study, you may contact the research team (contact@yaht.app) or Prof. Dr. Thomas Fritz (fritz@ifi.uzh.ch).</p>
</div>