<%= render 'shared/navigation' %>
<div class="bg-white pb-8 sm:pb-12">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-32">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <div class="items-center flex flex-col justify-items-start">
        <!-- Whats New' -->
        <!--<div>
          <a href="#" class="inline-flex space-x-4">
            <span class="rounded bg-indigo-50 px-2.5 py-1 text-xs font-semibold text-indigo-600 tracking-wide uppercase">
              What's new
            </span>
            <span class="inline-flex items-center text-sm font-medium text-indigo-600 space-x-1">
              <span>Just shipped version 0.0.1</span>
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </a>
        </div>
        -->
        <div class="sm:max-w-xl">
          <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">
            Reclaim your Productivity
          </h1>
          <p class="mt-6 text-xl text-gray-900 text-center">
            yaht<sup class="font-sm text-gray-500">1</sup> helps you to establish work habits that
            block distractions, declutter your schedule and allow you to reconnect with colleagues in a busy environment.
          </p>
        </div>
        <div class="mt-6 sm:max-w-lg sm:flex flex-row items-start justify-items-start">
            <%= link_to "Sign up for free", new_user_registration_url,  class: "btn btn-primary block ml-0" %>
        </div>
        <div class="flex mt-24">
          <div class="text-gray-400 font-sm">
            [1] yaht: yet another habit tracker
          </div>
        </div>
      </div>
    </div>
  </div>
</div>