<%= render 'steps', steps: 5, current_step: 1 %>
<h1>Welcome to yaht!</h1>
<div class="text-gray-600 space-y-2">
  <p>Before you can start we need to setup a number of things to make sure that you get the most out of it.</p>
  <p>We'll guide you through all the steps and explain how yaht and its self-experimentation framework works.</p>
  <p>If anything is unclear or if you need any help feel free to contact us at <a href="mailto:help@yaht.app" class="text-gray-700 hover:text-gray-900">help@yaht.app</a>.</p>
</div>
<div class="mx-auto my-8 flex">
  <%= link_to onboarding_habits_path, class: 'btn btn-primary ml-auto' do %>
    Let's go<i class="fa-chevron-right far ml-1"></i>
  <% end %>
</div>
